{{ define "main" }}
{{ if eq .Section "blog" }}
<a href="{{ .Site.Home.RelPermalink }}blog/" class="back-link">&larr; Back to blog</a>
{{ end }}

{{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}

{{ if and .Date (eq .Section "blog") }}
<p class="post-meta">{{ .Date.Format "January 2, 2006" }}</p>
{{ end }}

{{- $content := .Content -}}
{{- /* Convert [[wikilink]] to proper links */ -}}
{{- $blogBase := printf "%sblog/" .Site.Home.RelPermalink -}}
{{- $content = $content | replaceRE `\[\[([^\]|]+)\|([^\]]+)\]\]` (printf `<a href="%s$1/">$2</a>` $blogBase) -}}
{{- $content = $content | replaceRE `\[\[([^\]]+)\]\]` (printf `<a href="%s$1/">$1</a>` $blogBase) -}}
{{ $content | safeHTML }}
{{ end }}
